Source: pi-data
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13)
Maintainer: Ed Baker <ed@ebaker.me.uk>
Description: Raspberry Pi Data
 Easily get identification and configuration data from a Raspberry Pi.


Package: pi-data
Priority: utils 
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, whois
Description: Raspberry Pi Data
 Easily get identification and configuration data from a Raspberry Pi.
